body {
    background-image: url(img/J-Background.jpg);
    background-size: cover;
    color: white;
}

#hey {
    margin: 180px auto 230px 66%;
}
#text {
    margin: 50px 100px;
    padding: 20px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.5);
    filter: blur(3px);
    user-select: none;
}
