.a-header {
    color: black;
}
.a-header:hover {
    color: black;
    border: black 2px solid;
}

.dropdown {
    background: white;
    border: black 2px solid;
}

#text {
    margin: 100px 50px;
}