@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&display=swap'); /*Outfit*/

body {
    font-family: 'Outfit';
    color: black;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 999px;
    padding: 10px 20px;
    border: black 2px solid;
}
a:hover {
    background-color: white;
    color: black;
    border: black 2px solid;
}

video {
    width: 100%;
}
.s-link {
    margin: 0;
}
.blr-link {
    filter: blur(3px);
    user-select: none;
}
.box {
    padding: 10px;
    margin: 10px;
    border: black 1px solid;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.swiper .swiper-button-next .swiper-navigation-icon,
.swiper .swiper-button-prev .swiper-navigation-icon {
    color: white;
    height: 50%;
    width: 50%;
}
.swiper .swiper-button-next:hover .swiper-navigation-icon,
.swiper .swiper-button-prev:hover .swiper-navigation-icon {
    color: black;
}

.swiper-button-prev, .swiper-button-next {
    background: black;
    border-radius: 999px;
    border: transparent 2px solid;
}
.swiper-button-prev:hover, .swiper-button-next:hover {
    background: white;
    border-radius: 999px;
    border: black 2px solid;
}