/* Header Styles */
#header {
    top: 0;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
}

ul {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 1;

    margin: 0;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.0);
}

li {
    list-style: none;
}
.a-header {
    text-decoration: none;
    color: white;
    font-size: large;
    background-color: transparent;
    border: transparent 2px solid;
}

.a-header:hover {
    color: white;
    background-color: transparent;
    border: white 2px solid;
}
/* Diese Klasse schiebt den Header aus dem Bild */
.header-hidden {
  transform: translateY(-100%);
}

#projects-li, #home-li {
    position: relative; 
}
.dropdown {
    display: none;
    position: absolute; /* Nimmt das Element aus dem normalen Fluss */
    margin-top: 10px;
    border: white 2px solid;
    border-radius: 26px;    
    min-width: 250px;
    z-index: 1;
}
#projects-li:hover #projects-dropdown {
  display: block; /* Das ist der entscheidende Trick! */
}
#projects-dropdown:hover #projects-dropdown {
  display: block; /* Das ist der entscheidende Trick! */
}
#home-li:hover #home-dropdown {
  display: block; /* Das ist der entscheidende Trick! */
}
#home-dropdown:hover #home-dropdown {
  display: block; /* Das ist der entscheidende Trick! */
}

.dropdowns {
    margin: 20px auto;
}


/* Footer Styles */
footer > p {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px 0;
}