/* Header Styles */


ul {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 2;

    margin: 0;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.0);
}

li {
    list-style: none;
}
.a-header {
    text-decoration: none;
    color: white;
    font-size: large;
    background-color: transparent;
    border: transparent 2px solid;
}

.a-header:hover {
    color: white;
    background-color: transparent;
    border: white 2px solid;
}

/* Footer Styles */
footer > p {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px 0;
}