#image-section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#image-section h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size:xxx-large;
    color: white;
    transform: translate(-50%, -50%);
}
#image-section p {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: large;
    color: white;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.0);
    padding: 5px 10px;
    border-radius: 10px;
}


#hey {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
#logo {
    width: 200px;
    height: 200px;
    border-radius: 999px;
}
#hey > div {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}


#projects {
    min-height: 400px;
    background-color: rgb(236, 218, 177);
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper {
    padding: 40px 0;
}
.swiper-slide {
    background: white;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    display: flex;
    width: 250px; /* damit Swiper auto-berechnet */
}
.swiper-slide:hover {
    box-shadow: 0 5px 30px rgba(0,0,0,0.3);
}
.project-img {
    border-radius: 20px;
    height: 180px;
    width: 320px;
    margin: 20px;
}
.swiper-text {
    margin-right: 20px;
}

#contact-me {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-contact {
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 50px;
    cursor: pointer;
}
#main-contact:hover {
    box-shadow: 0 5px 30px rgba(0,0,0,0.3);
}

#contact-text {
    max-width: 500px;
    margin-left: 50px;
}
#contact-img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.a-div, .a-div:hover {
    color: unset;
    background-color: unset;
    border-radius: unset;
    padding: unset;
    border: unset;
}
