#dropdown {
    background: rgba(0, 0, 0, 0.5);
}


body {
    background-image: url(img/img-1.5.jpg);
}
ul {
    position: static;
    margin-top: 20px;
}

section {
    margin: 20px;
    padding: 20px;
    border: black 2px solid;
    border-radius: 20px;
    background: white;
}
video, img {
    border-radius: 20px;
    pointer-events: none;
}
h1 {
    font-size: xx-large;
}

.flex {
    display: flex;
    gap: 50px;
    
}
#minecraft {
    padding-bottom: 30px;
}
.project-img {
    width: 640px;
    height: 360px;
}
.sec_btn {
    background-color: red;
    border: red 2px solid;
    color: white;
}
.sec_btn:hover {
    background-color: white;
    border: red 2px solid;
    color: red;
}



#toolbox {
    padding: 40px;
    display: flex;
    gap: 80px;
}
.tool {
    width: 200px;
    height: 200px;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 5px 30px rgba(0,0,0,0.5);
}
.tool:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
.tool-img {
    width: 100px;
    height: 100px;
}

.tool-hint {
    color: red;
}

#yt-popup {
    border-radius: 20px;
    border: none;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);

}


.disabled-btn, .disabled-btn:hover {
    background-color: grey;
    border: grey 2px solid;
    color: white;
    cursor: not-allowed;

}